#
# PDM CONFIGURATION
#
# Fill in your own credentials etc below and
# place the file in the root of your sdcard
#


# Wifi setup
wifi_ssid:  <router name>
wifi_pass:  <router password>


# Senseye.io credentials
api_user:  <senseye user id>
api_pass:  <senseye password>
api_host:  api.senseye.io
api_port:  443


# Sensor specification
sensor_id:         <sensor id>
sensor_zero_mV:    0
sensor_sens_mV/g:  100
sensor_rmin_g:     -80
sensor_rmax_g:     80


# Motor specification
motor_rpm:    2700


# Bearing frequencies (e.g. for SKF 6202-2Z)
bearing_ftf:   0.381
bearing_bsf:   1.986
bearing_bpfi:  4.950
bearing_bpfo:  3.050

